
.logo-item {
    margin-left: 1rem;
    width: 100%;
    height: 80px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures images don't overflow the box */
    border: 1px solid #898787; /* Optional: for better visibility of the box */
    background-color: #f8f8f8; /* Optional: background for empty spaces */
}
.logo-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main{
    background: #0000002b;
}

#nav1{
    background:black;
}
h1{
    color:#eb0000c2;
}

#img1{
    width: 100%;
    height: auto; 
    display: block;
}
h4{
    color: #eb0000c2;
}